.vue-scroll-picker {
  height: 5em !important;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(204, 149, 0);
}

.container {
  max-width: 500px;
}

.vue-scroll-picker-layer > .top, .vue-scroll-picker-layer > .bottom {
  border-color: rgb(204, 149, 0) !important;
}

.jumbotron {
  padding-top: 0.5rem;
  margin-bottom: 0;
  padding-bottom: 0.7rem;
  border-radius: 0;
  color: #00a3ff;
}

.call-to-action-number {
  font-size: 1.5em;
  color: rgb(173, 173, 173);
}

.feature-section {
  color: rgb(255, 176, 5);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.section-background {
  background-image: url('images/cyanbackground.jpg');
  background-position: center center;
  background-size: 100% 100%;
}